$color-font-main: #333333;
$color-font-second: #AAAAAA;
$color-font-hover: #125BAE;
$color-font-bg: #E2EFFF;
$color-font-history: #E2EFFF;

$color-brand: #7397F5;

$color-border: #D5D5D5;
$color-icons: #CBCBCB;
$color-scroll-bar: #F2F2F2;
$color-white: #FFFFFF;

